{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/game.css') }}">
<script src="{{ url_for('static', filename='./js/game.js') }}"></script>
<div class="content-desktop" id="game">
  <img id="board" src="{{ url_for('static', filename='./img/poker-board5.png') }}">
</div>
<div class="content-desktop" id="bot-control">
  <div id="main-buttons">
    <button class="control" id="fold" >FOLD</button>
    <button class="control" id="check">CHECK</button>
    <button class="control" id="raise">RAISE</button>
    <input type="range" min="1" max="100" value="1" class="slider" id="bet-range">
    <input type="text" id="bet-display" value="1">
  </div>
  <div class="preset-buttons">
    <button class="presets" id="fourth-pot">1/4 Pot</button>
    <button class="presets" id="half-pot">1/2 Pot</button>
    <button class="presets" id="full-pot">Pot</button>
    <button class="presets" id="all-pot">All In</button>
  </div>
</div>
<div class="content-desktop" id="right-control">
  <div id="join-info">
    <p id="join-head">
      Send this code or link to your friends!
    </p>
    <p id="join-body">
      Code: {{ room_id }}
      https://pokerfriends.com/{{ room_id }}
    </p>
  </div>
  <div id="exit-room-container">
    <button id="exit-room">Exit Room</button>
  </div>
</div>

</div>
<div class="content-mobile">
  <h2 class="content-mobile">This website is not available on small screens.</h2>
</div>
{% endblock %}
