{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/game.css') }}">
<script src="{{ url_for('static', filename='./js/game.js') }}"></script>
<script type="text/javascript">
    const room_id = "{{ room_id }}";
</script>
<div class="content-desktop" id="game">
  <img id="board" src="{{ url_for('static', filename='./img/poker-board.png') }}">
  <div class="sit-down" id="sit-down1"></div>
  <div class="sit-down" id="sit-down2"></div>
  <div class="sit-down" id="sit-down3"></div>
  <div class="sit-down" id="sit-down4"></div>
  <div class="sit-down" id="sit-down5"></div>
  <div class="sit-down" id="sit-down6"></div>
  <div class="sit-down" id="sit-down7"></div>
  <div class="sit-down" id="sit-down8"></div>
  <div class="sit-down" id="sit-down9"></div>
  <button id="start-game">Start Game</button>
  <p id="waiting">Waiting for players...</p>

  <div class="card-holder" id="card1">
    <div class="carda" id="card1a"></div>
    <div class="cardb" id="card1b"></div>
    <div class="user" id="user1">
      <p class="name" id="name1">Username</p>
      <p class="chips" id="chips1">0 chips</p>
    </div>
  </div>
  <div class="card-holder" id="card2">
    <div class="carda" id="card2a"></div>
    <div class="cardb" id="card2b"></div>
    <div class="user" id="user2">
      <p class="name" id="name2">Username</p>
      <p class="chips" id="chips2">0 chips</p>
    </div>
  </div>
  <div class="card-holder" id="card3">
    <div class="carda" id="card3a"></div>
    <div class="cardb" id="card3b"></div>
    <div class="user" id="user3">
      <p class="name" id="name3">Username</p>
      <p class="chips" id="chips3">0 chips</p>
    </div>
  </div>
  <div class="card-holder" id="card4">
    <div class="carda" id="card4a"></div>
    <div class="cardb" id="card4b"></div>
    <div class="user" id="user4">
      <p class="name" id="name4">Username</p>
      <p class="chips" id="chips4">0 chips</p>
    </div>
  </div>
  <div class="card-holder" id="card5">
    <div class="carda" id="card5a"></div>
    <div class="cardb" id="card5b"></div>
    <div class="user" id="user5">
      <p class="name" id="name5">Username</p>
      <p class="chips" id="chips5">0 chips</p>
    </div>
  </div>
  <div class="card-holder" id="card6">
    <div class="carda" id="card6a"></div>
    <div class="cardb" id="card6b"></div>
    <div class="user" id="user6">
      <p class="name" id="name6">Username</p>
      <p class="chips" id="chips6">0 chips</p>
    </div>
  </div>
  <div class="card-holder" id="card7">
    <div class="carda" id="card7a"></div>
    <div class="cardb" id="card7b"></div>
    <div class="user" id="user7">
      <p class="name" id="name7">Username</p>
      <p class="chips" id="chips7">0 chips</p>
    </div>
  </div>
  <div class="card-holder" id="card8">
    <div class="carda" id="card8a"></div>
    <div class="cardb" id="card8b"></div>
    <div class="user" id="user8">
      <p class="name" id="name8">Username</p>
      <p class="chips" id="chips8">0 chips</p>
    </div>
  </div>
  <div class="card-holder" id="card9">
    <div class="carda" id="card9a"></div>
    <div class="cardb" id="card9b"></div>
    <div class="user" id="user9">
      <p class="name" id="name9">Username</p>
      <p class="chips" id="chips9">0 chips</p>
    </div>
  </div>

</div>
<div class="content-desktop" id="bot-control">
  <div id="main-buttons">
    <button class="control" id="fold" >FOLD</button>
    <button class="control" id="check">CHECK</button>
    <button class="control" id="raise">RAISE</button>
    <button id="lower-bet">-</button>
    <input type="range" min="1" max="100" value="1" class="slider" id="bet-range">
    <button id="raise-bet">+</button>
    <input type="text" id="bet-display" value="1">
  </div>
  <div class="preset-buttons">
    <button class="presets" id="fourth-pot">1/4 Pot</button>
    <button class="presets" id="half-pot">1/2 Pot</button>
    <button class="presets" id="full-pot">Pot</button>
    <button class="presets" id="all-pot">All In</button>
  </div>
</div>
<div class="content-desktop" id="right-control">
  <div id="join-info">
    <p id="join-head">
      Send this code or link to your friends!
    </p>
    <p id="join-body">
      Code: {{ room_id }}
      https://pokerfriends.com/{{ room_id }}
    </p>
  </div>
  <div id="buy-in-amount">
    <form autocomplete="off">
      <label for="buy-in-actual" class="game-label" id="buy-in-label">Buy in for:</label>
      <input type="text" id="buy-in-actual" class="game-form">
    </form>
  </div>
  <div id="double-blinds-container">
    <button id="double-blinds">Vote to double blinds (0/1)</button>
    <p id="blinds-display">Current blinds: 1/2</p>
  </div>
  <div id="stand-up-container">
    <button id="stand-up">Sit Out</button>
  </div>
  <div id="exit-room-container">
    <button id="exit-room">Exit Room</button>
  </div>
</div>
<div class="content-desktop" id="shade">
  <div id="login-panel">
    <form autocomplete="off" class="form-container">
      <label for="username" class="login-label" id="username-label">Please Enter a Nickname:</label><br>
      <input type="text" id="username" class="login-form"><br>
    </form>
    <div class="button-container">
      <button id="join-button" >Join</button>
    </div>
  </div>
</div>

</div>
<div class="content-mobile">
  <h2 class="content-mobile">This website is not available on small screens.</h2>
</div>
{% endblock %}
